@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    /*appearance: 0;*/
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.container{
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 15% auto 8%;
    /*grid-template-columns: 20% 75%;*/
}

aside{
    height: 100vh;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;
    margin-left: 50px;
}

aside .toggle .logo img{
    width: 2rem;
    height: 2rem;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar qa.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 0.6rem;
}

aside .sidebar .message-count{
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
}
/*END ASIDE*/

/*CONTENT*/
.main-content{
    padding: 50px 0 0 5px;
    display: flex;
    flex-direction: column;
    height: 98vh; /* Chiều cao toàn màn hình */
}

.input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    margin-bottom: 20px;
    margin-left: 50px;
}

.input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.main-content .pagination{
    margin-top: auto; /* Đẩy pagination xuống dưới cùng */
    padding-bottom: 20px;
    flex-shrink: 0; /* Giữ cho pagination không bị co lại */
}

.main-content-games {
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử tự xuống dòng */
    gap: 1.8rem;
    align-items: flex-start; /* Canh trên cùng */
    overflow-y: auto;
    flex: 1;
}
.parent{
    height: 300px; /* Cố định chiều cao cho parent */
    width: 300px; /* Cố định chiều rộng cho parent */
    padding: 0 40px 40px 40px;
    perspective: 1000px;
    box-sizing: border-box;
}

.card{
    padding-top: 100px;
    transform-style: preserve-3d;
    background-image: url('/images/img1.jpg');
    background-position: center center;
    width: 100%; /* Giữ nguyên chiều rộng */
    max-width: 300px; /* Đặt chiều rộng tối đa */
    height: 300px; /* Cố định chiều cao */
    transition: all 0.5s ease-in-out;
    border-radius: 10px;

}

.card:hover{
    background-position: 80% 20%;
    transform: rotate3d(0.5,1,0,30deg);
}

.content-box{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.81);
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0,115,255,0.925) 0px 20px 50px -25px;
    transition: all 0.5s ease-in-out;
    padding: 50px 25px 25px 25px;
    transform-style: preserve-3d;
    overflow: hidden; /* Tránh tràn nội dung khi dữ liệu quá dài */
}

.card-topic{
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px,0px,20px);
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Thêm dấu "..." khi nội dung bị cắt */
    /*white-space: nowrap; !* Không xuống dòng *!*/

}

.card-topic {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Hiển thị tối đa 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-topic:hover{
    transform: translate3d(0px,0px,50px);
}

.card-description{
    padding-top: 15px;
    font-size: 10px;
    color: rgb(185,185,185);
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px,0px,20px);
}

.card-description:hover{
    transform: translate3d(0px,0px,50px);
}

.play{
    display: block;
    font-weight: 900;
    font-size: 11px;
    text-transform: uppercase;
    color: rgb(0,136,255);
    padding-top: 15px;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px,0px,20px);
    text-decoration: none;
}

.play:hover{
    transform: translate3d(0px,0px,50px);
}

.qr-box{
    position: absolute;
    top: 75px;
    left: 25px;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    box-shadow: rgb(0,102,255) 0px 20px 60px 0px, rgb(0,200,255) 0px 18px 36px -18px;
    transform: translate3d(0px,0px,50px);
}

.qr-box img{
    width: 100%;
    height: 100%;
    object-fit:cover ;
}


/*END CONTENT*/

/*RIGHT SIDE*/
.right-section{
    margin-top: 1.4rem;
    position: fixed; /* Giữ right-section cố định */
    right: 0;
    top: 0;
    width: 8%; /* Khớp với chiều rộng trong grid-template-columns */
}

.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-section .nav button{
    display: none;
}

.right-section .nav .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right-section .nav .profile .profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
/*END RIGHT SIDE*/

/*MOBILE*/
@media screen and (max-width: 1200px) {
    .container {
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside {
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .toggle .close {
        display: inline-block;
        cursor: pointer;
    }
    .right-section{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right-section .nav{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    .right-section .nav .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right-section .profile .info{
        display: none;
    }

    .right-section .nav button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right-section .nav button span{
        font-size: 2rem;
    }
}
/*END MOBILE*/
